@{
    ViewBag.Title = "Introduction";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to ASP.Net webApp</title>
</head>
<body>
    <div>
        This WebApp is deployed to Azure through VSTS.
    </div>
</body>
</html>
